body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh;
    overflow: hidden; /* Prevent scrollbars */
    position: relative; /* Make body relative for positioning children */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}

#payment-form {
    background-color: rgba(255, 255, 255, 0.8); /* Add some opacity to make form content readable */
    padding: 1px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%; /* Adjusted width to fit within the page */
    margin: 0 auto; /* Center align form horizontally */
    text-align: center; /* Center align form content */
    z-index: 1; /* Ensure the form is in front of the video */
    margin-right: 50px;
}

.container {
    position: relative;
    margin-right: 60px;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: rgb(47, 47, 47);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #333;
}

h2 {
    margin-bottom: 20px; /* Add some space below the heading */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
