/* view_property css */


.container {
    text-align: center;
 }
 
 .house {
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px; 
 }

 h2 {
    font-size: 5em; /* size */
    font-weight: bold; 
    text-align: center; 
    margin-top: 20px; 
    color: #000000;
    background-color: #38d11d; /* Kulay ng background */
    padding: 10px 20px; /* Espasyo sa loob ng elemento */
    border-radius: 10px; /* Upang maging bilugan ang mga kanto */
    display: inline-block; /* Upang maging inline at block element */
}


 .house img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
 }
 
 .house-details {
    text-align: left;
 }
 
 .house h3 {
    font-size: 3em; /* Adjust the size as needed */
    color: #333; /* Text color */
    margin: 10px 0; /* Margin above and below */
    font-family: 'Arial', sans-serif; /* Change the font family */
    font-weight: bold; /* Make the font bold */
 }
 
 .house h4{
    font-size: 2em;
 }

 .house h5 {
    font-size: 1.4em;
 }

 .buy-btn {
    background-color: #38d11d; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 20px 30px; /* Padding */
    font-size: 2em; /* Font size */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded corners */
    margin-top: 10px; /* Margin top */
}


 
 
 
 
 